/* 
 * VARIABLES
 */
/* 
 * BASICS
 */
  /* html,
 .body {
	 height: 100%;
	 width: 100vw;
	 margin: 0;
 } */

 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

 * {
	font-family: 'Source Sans Pro',
 }
  
 .wrapperProfile {
	height: 100%; 
	width: 100%;
	/* margin-top: 90px; */
	align-items: center;
	background-color: #ffffff;
	display: flex;
	/* justify-content: center; */
	align-content: space-between;
	flex-direction: column;
 }
 
 /*
	* MAIN CONTENT
	*/

	.avatar_wrapper {
		display: flex;
		width: 100%;
		height: 40vh;
		border-radius: 0px 0px 50px 50px;
		border-bottom: 2px solid #282829;
		justify-content: center;
		align-content: center;
		z-index: 10;
	}

 .avatar {
	 margin-top: 130px;
	 border: 5px solid #ffffff;
	 box-sizing: border-box;
	 height: 200px;
	 border-radius: 50%;
	 position: relative;
	 width: 200px;
 }
 .avatar__image {
	 width: 100%;
	 border-radius: 50%;
 }

 .avatar > h2 {
	 margin-left: 28px;
 }

 .avatar::before, .avatar::after {
	 border: 5px solid transparent;
	 border-radius: 50%;
	 border-top: 5px solid #282829;
	 content: "";
	 display: block;
	 height: calc(100% + 10px);
	 left: 50%;
	 width: calc(100% + 10px);
	 position: absolute;
 }
 .avatar::before {
	 top: -10px;
	 -webkit-transform: translateX(-50%);
					 transform: translateX(-50%);
 }
 .avatar::after {
	 bottom: -10px;
	 -webkit-transform: translateX(-50%) rotate(180deg);
					 transform: translateX(-50%) rotate(180deg);
 }

 /* Trips */
 .trips {
	 	width: 100%;
		margin-top: 20px;
		height: calc(100vh - 50vh - 160px);
		/* border-bottom: 2px solid #282829; */
		border-radius: 25px 25px 25px 25px;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
}

/* .dest-trip-img {
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0px 0px;
} */

.trip-resultBanner {
	border: none;
  display: flex;
  align-items: flex-end;
	justify-content: space-around;
	width: 90%;
}

/* .trip-bottomPage {
  margin: 10px;
  margin-bottom: 15px;
  border-bottom: 3px solid #282829;
  border-radius: 0px 0px 7px 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  font-size: 20px;
  text-decoration: none;
} */

.trips img {
  width: 100%;
  height: 300px;
  border-radius: 22px;
}

.container {
  position: relative;
	text-align: center;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 39px;
  left: 16px;
  color: #fff;
  font-family: inherit;
  font-size: 1.7rem;
}

 