@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans';
  box-sizing: border-box;
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
      .wrapper {
        max-height: 414px;
        max-width: 896px;
        left: 0px;
        right: 0px;
        background: #ffffff;
      }
  }

.wrapperPR {
  height: 100vh;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
} 

.headerPackageResult {
  height: 270px;
  width: 100%;
  border-bottom: 3px solid #282829;
  border-radius: 0px 0px 25px 25px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.headerPackageResult > h1 {
  margin-left: 20px;
  border: 2px solid #282829;
  border-radius: 15px 15px 15px 15px;
  padding: 2px;
}

.weatherPR {
  margin-top: 20px;
  border: 2px solid #282829;
  border-radius: 15px 15px 15px 15px;
  padding: 0px;
  width: 95%;
  height: 70px;
}

.resultBannerFlights {
  margin-top: 30px;
  width: 100%;
  height: 150px;
  border: 2px solid #282829;
  border-radius: 25px 25px 25px 25px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.sidebarPackagePR {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  justify-content: center;
  align-items: center;
  /* align-content: space-between; */

}

.infoWrapperPR {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.airports {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 82%;
  margin-top: 15px;
}

.FlightTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
  align-items: center;
}

.datesPR {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 90%
}

.otherInfoflight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  /* border-radius: px 25px 25px 25px; */
  height: 30%;
  width: 100%;
}

.flightDuration {
  /* margin-left: 95px; */
  vertical-align: baseline;
}

/* ######### */
.resultBannerHotels {
  margin-top: 30px;
  width: 100%;
  height: 150px;
  border: 2px solid #282829;
  border-radius: 25px 25px 25px 25px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.sidebarHotels {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  justify-content: center;
  align-items: center;
  /* align-content: space-between; */

}

.infoWrapperHotel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.hotelName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 90%;
  margin-top: 15px;
}

.hotelDates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
  align-items: center;
  width: 92%;
}

.direction-book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
  align-items: center;
  width: 95%;
}

.otherInfohotel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #282829;
  /* border-radius: px 25px 25px 25px; */
  height: 30%;
}


.booking-button {
  height: 35px;
  width: 115px;
  border-radius: 15px 15px 15px 15px;
  font-size: .875rem;
  font-weight: 600;
  letter-spacing: .0107142857em;
  margin: 0px;
  right: 0px;
  left: 0px;
}

.hotelDirection {
  height: 35px;
  width: 115px;
  border-radius: 15px 15px 15px 15px;
  font-size: .875rem;
  font-weight: 600;
  letter-spacing: .0107142857em;
}

.hotelRating {
  align-self: center;
}

button {
  background: #282829;
  color: #ffffff;
}



