@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
      .wrapper {
        max-height: 414px;
        max-width: 896px;
        left: 0px;
        right: 0px;
        background: #ffffff;
      }
  }

.wrapper {
  height: 100vh;
  width: 100%;
  left: 0px;
  right: 0px;
  margin: 0px;
} 

.header {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  border-radius: 0px 0px 25px 25px;
  /* position: fixed; */
  z-index: 2;
}

.dest-img {
  width: 100%;
}
.dest-container {
  margin: 2px;
  margin-bottom: 12px;
  border: 3px solid black;
  overflow: hidden;
  border-radius: 25px 25px 25px 25px;
}

.dest-img {
  position: relative;
  z-index: -10;
}

.resultBanner {
  /* margin-top: 40px; */
  /* width: 100vw; */
  height: auto;
  border: none;
  display: flex;
  align-items: flex-end;
  /* background-image: url("../../assets/images/barcelona-lvXeO04CxwQ-unsplash.jpg"); */
}

.resultBanner > h3 {
  margin: 10px;
  margin-bottom: 20px;
}

.btn {
  background-color: transparent;
  position: absolute;
  bottom: 15px;
  right: 5px;
  cursor: pointer;
  z-index: 1000;
  border: none;
  outline: none;
  padding: 0px;
}
