.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.input {
  width: 40vw;
  height: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 1px #fff;
}

